<%- include('partials/header') %>

<nav>
  <h4>User Table</h4>
  <ul>
    <li>
      <a href="/">Home</a>
      <a href="/login">Login</a>
      <a href="/register">Register</a>
    </li>
  </ul>
</nav>

<div class="container mt-4">
  <div class="jumbotron">
    <h1 class="display-4">User Table</h1>

    <% results.forEach(result => { %>
    <h4><%= result.email %></h4>
    <% }) %>

    <table>

    </table>
  </div>
</div>

<%- include('partials/footer') %>