<%- include('partials/header') %>

<nav>
  <h4>User Table</h4>
  <ul>
    <li>
      <a href="/">Home</a>
      <a href="/login">Login</a>
      <a href="/register">Register</a>
    </li>
  </ul>
</nav>

<div class="container mt-4">
  <div class="card">
    <div class="card-header">
      Register Form
    </div>
    <div class="card-body">
      <form action="/register" method="POST">

        <div class="form-group">
          <label for="name">Name</label>
          <input type="text" class="form-control" id="name" name="name">
        </div>

        <div class="form-group">
          <label for="email">Email Address</label>
          <input type="email" class="form-control" id="email" name="email">
        </div>

        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" class="form-control" id="password" name="password">
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>

      </form>
    </div>
  </div>

  <% if (locals.message) { %>
  <h4 class="alert alert-secondary mt-4">{{message}}</h4>
  <% } %>
</div>

<%- include('partials/footer') %>